@import "helpers.less";

.fold() {
	-webkit-perspective: 500px;
	-webkit-transform-style: preserve-3d;

	.top, .bottom  {
		.transition(-webkit-transform 0.3s ease);

		height: 0;
		margin: 0;
	}

	.top { -webkit-transform: rotateX(-90deg); }
	.bottom { -webkit-transform: rotateX(90deg); }

	&.out {
		.top, .bottom {
			-webkit-transform: rotateX(0deg);
			height: 42px;
		}		
	}
}

html { height: 100%; }
body {
	.linear-gradient(top, #cdcdcd, #a0a0a0);
	
	height: 100%;
}

.HUD {
	.border-radius(12px);
	.box-shadow(0, 0, 2px, rgba(0, 0, 0, 0.4));
	
	width: 80%;
	margin: 1em auto;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
}

form {
	margin: 0 20px;	
}

fieldset {
	.border-radius(6px);

	border: none;	

	&#xpath-expression {
		.box-shadow(0, 0, 8px, rgba(0, 0, 0, 0.6));

		background: #fff;
		padding: 10px;
	}
	
	&#xml-document {
		.fold;
		
		height: 0;
		padding: 0;
		
		&.out {
			height: auto;
			padding: 10px 12px 5px;
			
			input {
				margin-top: 0;
				height: 42px;
			}
		}
	}

	&#settings {
		display: none;
		
		position: absolute;
		top: 10px;
		left: 10px;
		border: 2px groove #efefef;
		width: 15%;
		margin: 0;
	}
}

form.error {
	#xpath-expression {
		input {
			color: #900;
			background-color: #f5dfdf;
			border-color: #666;
		}
	}
}

.radiobutton {
	overflow: hidden;
	clear: both;
	
	input { float: left; background: lime; }
	
	label {
		display: inline;
		float: right;
	}
}

label, legend { display: none; }

input[type=text] {
	.box-sizing(border-box);
	.border-radius(6px);

	height: 42px;
	font-size: 20px;
	line-height: 20px;
	border: 1px solid #ddd;
	width: 100%;
	background: #eee;
	padding: 5px;
}

#toggle {
	.replaced;
	
	width: 50px;
	height: 3px;
	margin: -10px auto 5px;
	cursor: pointer;
	border-top: 4px double #a4a4a4;
	border-bottom: 4px double #a4a4a4;
}

button[type="submit"] {
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	font-size: 0;
	display: block;
	border: none;
}

#results {
	.centered;
	.border-radius(8px);
	.box-sizing(border-box);
	.box-shadow-inset(0, 1px, 4px, rgba(0, 0, 0, 0.75));
	
	font-family: courier, monospace;
	width: 80%;
	padding: 1em;
	background: #efefef;

	border: 1px solid #ddd;
	position: relative;
	
	&.nomatch {
		.xmlverb-default {
			opacity: 0.3;
		}
	}
	
}

.panel {
	#results {
		width: 75%;
		margin-left: 20%;
	}

	#settings {
		display: block;
	}
	
	form {
		width: 75%;
		margin-left: 20%;
		padding: 0;
	}
}

pre code { font: monaco, courier, monospace; }
.s { color: #800000; }
.e { color: #000080; }
.t { color: #000; font-weight: bold; }
.h { background: #ffc; }

@import "xmlverbatim.less";
@import "xpathfiddle.less";


