.compact-list() {
	.contain;

	dt, dd {
		margin: 0;
		padding: 0;
		height: 1.4em;
		vertical-align: bottom;
	}

	dt {
		float: left;
		width: 25%;
	}
	
	dd {
		float: left;
		width: 75%;
	}
}

#help {
	.border-radius(8px);
	.reset-radii(left);
	.box-shadow(0, 0, 4px, rgba(0, 0, 0, 0.75));
	.linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(100, 90, 0, 0.3));
	.text-shadow(0, 1px, 0, rgba(200, 200, 200, 0.9));
	.transition(all 0.3s ease-out);
	
	position: relative;
	border: 1px solid #fff;
	border-left: none;

	margin-left: -240px;

	font-size: 12px;
	width: 250px;
	
	padding: 10px;
	
	h1 {
		font-size: 1.2em;
		margin: 0;
		text-align: center;
	}

	h2 {
		margin: 1em 0 0;
		font-size: 1.1em;
	}
	
	dl {
		.compact-list;
		
		font-family: monospace;
		margin-left: 10px;
	}
	
	p {
		margin-left: 10px;
	}
	
	code {
		.border-radius(2px);
		background: #eee;
		font-family: monospace;
		padding: 0 2px 1px;
	}
	
	h1, h2, p, dl {
		visibility: hidden;
	}
}

.showhelp {
	#help {
		margin-left: 0;
		
		h1, h2, p, dl {
			visibility: visible;
		}
	}
	
	.application {
		
	}
}

.help-toggle {
	.replaced;

	position: absolute;
	top: 50%;
	margin-top: -25px;
	z-index: 10;
	right: 10px;
	width: 3px;
	height: 50px;
	cursor: pointer;
	border-left: 4px double darken(#a4a4a4, 5%);
	border-right: 4px double darken(#a4a4a4, 5%);
}