.contain:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .contain {
  height: 1%;
}
*:first-child + html .contain {
  min-height: 1px;
}
html {
  height: 100%;
}
body {
  background: #cdcdcd;
  background: -webkit-linear-gradient(top, #cdcdcd, #a0a0a0);
  background: -moz-linear-gradient(top, #cdcdcd, #a0a0a0);
  background: -ms-linear-gradient(top, #cdcdcd, #a0a0a0);
  background: -o-linear-gradient(top, #cdcdcd, #a0a0a0);
  background: linear-gradient(top, #cdcdcd, #a0a0a0);
  height: 100%;
}
.HUD {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  width: 80%;
  margin: 1em auto;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
}
#results {
  margin: 0 auto;
  font-family: courier, monospace;
  width: 80%;
}
form {
  margin: 0 20px;
}
fieldset {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: none;
}
fieldset#xpath {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #fff;
  padding: 10px;
}
fieldset#settings {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 2px groove #efefef;
  display: none;
}
.radiobutton {
  overflow: hidden;
  clear: both;
}
.radiobutton input {
  float: left;
  background: lime;
}
.radiobutton label {
  display: inline;
  float: right;
}
label,
legend {
  display: none;
}
input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  height: 42px;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid #ddd;
  width: 100%;
  background: #eee;
  padding: 5px;
}
#results {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.75) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.75) inset;
  padding: 1em;
  background: #efefef;
  border: 1px solid #ddd;
}
pre code {
  font: monaco, courier, monospace;
}
.s {
  color: #800000;
}
.e {
  color: #000080;
}
.t {
  color: #000;
  font-weight: bold;
}
.h {
  background: #ffc;
}
.xmlverb-default {
  color: #333333;
  background-color: transparent;
}
.xmlverb-element-name {
  color: #990000;
}
.xmlverb-element-nsprefix {
  color: #666600;
}
.xmlverb-attr-name {
  color: #660000;
}
.xmlverb-attr-content {
  color: #000099;
  font-weight: bold;
}
.xmlverb-ns-name {
  color: #666600;
}
.xmlverb-ns-uri {
  color: #330099;
}
.xmlverb-text {
  color: #000000;
  font-weight: bold;
}
.xmlverb-comment {
  color: #006600;
  font-style: italic;
}
.xmlverb-pi-name {
  color: #006600;
  font-style: italic;
}
.xmlverb-pi-content {
  color: #006666;
  font-style: italic;
}
.xpath-match {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.8) 1px 0 rgba(255, 255, 255, 0.8);
  border: 1px solid #aaa;
  border-width: 1px 0;
  background-color: rgba(255, 240, 30, 0.4);
}
